*{
	margin: 0; padding: 0; box-sizing:border border-box;
}
 .carousel-inner img {
    width: 100%;
    height: 90vh;
  }
 .carousel-caption h1 {
font-family:    Garamond;
font-size:      15px;
color:          black;
}
/* Description text */
.carousel-caption p {
font-family:    Garamond;
font-size:      15px;
color:          black;
}
